 @import "header.less" ;
 
 .badge {
	display: inline-block;
	min-width: @fontSizeMedium;
	padding: 3px 7px;
	text-shadow: none;
	font-size: @fontSizeMedium;
	padding-top: 1px;
	padding-bottom: 3px;
	font-weight: normal;
	line-height: @baseLineHeight;
	background-color: @redColor ! important;
	color: @whiteColor;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 999999px;
}

//.label-success , .badge-success {
//	background-color: #FF0000 ! important;
//}

