@import "header.less";
.red{
	color: @redFerrari !important;
}
.light-blue{
	color: @lightBlueBgColor !important;
}
.yellow{
	color: @lightYellow !important;
}
.gold{
	color: @baseColor !important;
}
.green {
	color: @greenColor !important;
}
.white {
	color: @whiteColor !important;
}
